[submodule "SDK/buildDEBs/live-build"]
	path = SDK/buildDEBs/live-build
	url = git://live.debian.net/git/live-build.git
[submodule "SDK/buildDEBs/live-boot"]
	path = SDK/buildDEBs/live-boot
	url = git://live.debian.net/git/live-boot.git
