[submodule "SDK/Tools/live-build"]
	path = SDK/Tools/live-build
	url = git://live.debian.net/git/live-build.git
[submodule "SDK/Tools/live-boot"]
	path = SDK/Tools/live-boot
	url = git://live.debian.net/git/live-boot.git
